<main>
  <div class="carousel-slider">
    <swiper [config]="config">
      <ng-template swiperSlide>
        <!-- elements with  "carousel-slider-animate-opacity" class will have animated opacity -->
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/one_5666620a89" alt="" />
          <div class="slide-content">
            <h2>ONE</h2>
            <p>
              
              
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/better_home_bb44846f06" alt="" />
          <div class="slide-content">
            <h2></h2>
            <p>
             
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/orascom_logo_4b0c229aef" alt="" />
          <div class="slide-content">
            <h2>ORASCOM</h2>
            <p>
             
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/MERCON_bdd5b20b9a" alt="" />
          <div class="slide-content">
            <h2>MERCON</h2>
            <p>
             
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/5_c4a27b5a22" alt="" />
          <div class="slide-content">
            <h2></h2>
            <p>
              
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/one_5666620a89" alt="" />
          <div class="slide-content">
            <h2>Justice League</h2>
            <p>
              Determined to ensure Superman's ultimate sacrifice was not in
              vain, Bruce Wayne aligns forces with Diana Prince with plans to
              recruit a team of metahumans to protect the world from an
              approaching threat of catastrophic proportions.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="https://s3.eu-de.cloud-object-storage.appdomain.cloud//strapi/better_home_bb44846f06" alt="" />
          <div class="slide-content">
            <h2>Justice League</h2>
            <p>
              Determined to ensure Superman's ultimate sacrifice was not in
              vain, Bruce Wayne aligns forces with Diana Prince with plans to
              recruit a team of metahumans to protect the world from an
              approaching threat of catastrophic proportions.
            </p>
          </div>
        </div>
      </ng-template>
      <!-- <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="/assets/justice-league.jpg" alt="" />
          <div class="slide-content">
            <h2>Justice League</h2>
            <p>
              Determined to ensure Superman's ultimate sacrifice was not in
              vain, Bruce Wayne aligns forces with Diana Prince with plans to
              recruit a team of metahumans to protect the world from an
              approaching threat of catastrophic proportions.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="/assets/suicide-squad.jpg" alt="" />
          <div class="slide-content">
            <h2>The Suicide Squad</h2>
            <p>
              Supervillains Harley Quinn, Bloodsport, Peacemaker and a
              collection of nutty cons at Belle Reve prison join the
              super-secret, super-shady Task Force X as they are dropped off at
              the remote, enemy-infused island of Corto Maltese.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="/assets/thor.jpg" alt="" />
          <div class="slide-content">
            <h2>Thor: Ragnarok</h2>
            <p>
              Imprisoned on the planet Sakaar, Thor must race against time to
              return to Asgard and stop Ragnarök, the destruction of his world,
              at the hands of the powerful and ruthless villain Hela.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="/assets/thor.jpg" alt="" />
          <div class="slide-content">
            <h2>Thor: Ragnarok</h2>
            <p>
              Imprisoned on the planet Sakaar, Thor must race against time to
              return to Asgard and stop Ragnarök, the destruction of his world,
              at the hands of the powerful and ruthless villain Hela.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="/assets/thor.jpg" alt="" />
          <div class="slide-content">
            <h2>Thor: Ragnarok</h2>
            <p>
              Imprisoned on the planet Sakaar, Thor must race against time to
              return to Asgard and stop Ragnarök, the destruction of his world,
              at the hands of the powerful and ruthless villain Hela.
            </p>
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-slider-animate-opacity">
          <img src="/assets/thor.jpg" alt="" />
          <div class="slide-content">
            <h2>Thor: Ragnarok</h2>
            <p>
              Imprisoned on the planet Sakaar, Thor must race against time to
              return to Asgard and stop Ragnarök, the destruction of his world,
              at the hands of the powerful and ruthless villain Hela.
            </p>
          </div>
        </div>
      </ng-template> -->
    </swiper>
  </div>
</main>
